<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets  async="true">
    <target name="manager" xsi:type="File" fileName="${basedir}/Logs/uiLog.txt" archiveAboveSize="2000000"
            maxArchiveFiles="2" createDirs="True" layout="${date} ${level} ${logger:shortName=True} :${message} ${exception:format=ToString,StackTrace}" />
    <target name="service" xsi:type="File" fileName="${basedir}/Logs/serviceLog.txt" archiveAboveSize="2000000"
        maxArchiveFiles="2" createDirs="True" layout="${date} ${level} ${logger:shortName=True} :${message} ${exception:format=ToString,StackTrace}" />
    <target name="ext" xsi:type="File" fileName="${basedir}/Logs/ExtFrameworkLog.txt" archiveAboveSize="2000000"
        maxArchiveFiles="2" createDirs="True" layout="${date} ${level} ${logger:shortName=True} :${message} ${exception:format=ToString,StackTrace}" />
    <target name="all" xsi:type="File" fileName="${basedir}/Logs/extensionLog.txt" archiveAboveSize="2000000"
        maxArchiveFiles="2" createDirs="True" layout="${date} ${level} ${logger:shortName=True} :${message} ${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="AppDynamics.Extension.Manager.*"  minlevel="Trace" writeTo="manager" final="true" />
    <logger name="ExtensionService.*"  minlevel="Trace" writeTo="service" final="true" />
    <logger name="AppDynamics.Infrastructure.Framework.*"  minlevel="Debug" writeTo="ext" final="true" />
    <logger name="AppDynamics.Extension.SDK.*"  minlevel="Trace" writeTo="all" final="true" />
    <logger name="*"  minlevel="Debug" writeTo="all" final="true" />
  </rules>
</nlog>