<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extensions" type="AppDynamics.Infrastructure.Framework.Extension.Impl.ExtensionConfigLoader, AppDynamics.Infrastructure"/>
  </configSections>
  <extensions>
    <extension type="AppDynamics.Extension.CustomImplementation.ServerStatus, AppDynamics.Extension.CustomImplementation" extensionCategory="WebSiteMonitoring">
      <extension-config>
        <extensionCounters>
          <counter name="Status" enabled="true"/>
          <counter name="ART" enabled="true"/>
        </extensionCounters>
        <extensionInstances>
          <instance name="server1" value="http://www.mywebsite.com/healthCheck1.aspx" enabled="true"/>
          <instance name="server2" value="http://www.mywebsite.com/healthCheck2.aspx" enabled="true"/>
          <instance name="server3" value="http://www.mywebsite.com/healthCheck3.html" enabled="true"/>
        </extensionInstances>
        <settings>
          <add name="auth-userName" value=""></add>
          <add name="auth-password" value=""></add>
        </settings>
      </extension-config>
    </extension>
  </extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
